

/* #############################################     Global Rules    ###########################################################*/

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}



/* #################################################      Classes and IDs     ###################################################### */

#Header {
    display: flex;
    background-color: rgb(255, 246, 220);
    align-items: center;
    justify-content: center;
    padding: 2em 0;

}


/* ##################################################    Header    ################################################################## */

header aside {
    font-size: smaller;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}

nav {
    background-color: rgb(255, 246, 220, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

nav a {
    font-size: smaller;
    padding: 2em 0;
}

header aside {
    font-size: smaller;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}

/* ######################################################   Form / Body   ################################################################## */

main h2{
    text-align: center;
    margin-top: 1.5em;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1em 0;
    width: 100%;
}

input[type=text], [type="email"], [type="tel"], [type="date"]{
    box-sizing: border-box;
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-style: none;
    border-bottom: 1px solid rgb(255, 0, 0, 0.3);
}


input[type=text]{
    width: auto;
}



input[type=submit] {
    margin: 1em 0 1em 33%;
    background-color: white;
    padding: 10px 20px;
    border-color: rgb(235, 91, 91, 0.5);
    transition: 200ms;

    
}


input[type=submit]:hover{
    background-color: rgb(235, 91, 91, 0.8);
    color: white;
}

textarea {
    height: 15vh;
    width: 70%;
    border: 2px solid rgb(0, 0, 0, 0.3);
    border-style: dashed;
    border-bottom: none;
    border-right: none;
}


/* ####################################################     Footer      ################################################################### */

footer {
    background-color: rgb(168, 161, 161, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0;
    
}

footer div {
    font-size: x-small;
}


/* ###################################################     Media Queries   ################################################################# */

@media screen and (min-width: 480px) {
    main div {
        width: 50vw;
    }
}


@media screen and (min-width: 720px) {
    footer {
        padding: 0.5em 0;
    }
}


@media screen and (min-width: 1024px) {
    main div {
        width: 40vw;
        padding: 0 1em;
        margin: 0.5em auto;
    }

    input[type=submit] {
        margin-left: 40%;
        margin-bottom: 1.5em;
    }

    footer div {
        font-size: small;
        margin-left: 12%;

    }

}

