
/* ################################################     Global Rules    ################################################ */

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


img {
    width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

ul li {
    margin: 0.5em 0;
    margin-left: 1em;
}

h2 {
    font-size: large;
    padding: 1em 0;
    border-bottom: 3px solid rgb(230, 37, 37, 0.6);

}

h3 {
    margin: 0.5em auto;
    font-size: medium;
    text-align: center;
}


header div figure {
    width: 120px;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 15px;
    z-index: 0;
}

header div figure img {
    border-radius: 100%;
    opacity: 0.5;
}

header div h1 {
    position: relative;
    color: white;
    z-index: 1;
}

/* ################################################     Classes and IDs     ################################################ */

#Header {
    background-color: rgb(255, 246, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;

}

.infos {
    text-align: center;
    margin: 1em 1em;
}

.cardsList {
    margin-right: 2.5em;
    margin-bottom: 1em;
}

.btn {
    padding: 10px 20px;
    border: 1px solid black;
    display: block;
    max-width: 15%; 
    margin-top: 1em;
    transition: 200ms;

}

.btn:hover{
    background-color: rgb(235, 91, 91, 0.8);
    color: white;
    border: none;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ################################################     Header      ###################################################### */


header aside {
    font-size: smaller;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}


nav {
    background-color: rgb(255, 246, 220, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

nav a {
    font-size: small;
    padding: 2em 0;
}


/* ##################################################   Footer  ############################################################ */



footer {
    background-color: rgb(168, 161, 161, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0;
    
}

footer div {
    font-size: x-small;
}


/* ########################################################     Media Queries   ############################################## */



@media screen and (min-width: 720px){

    main figure {
        height: 30vh;
    }

    main figure img {
        height: 100%;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }

    main {
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container{
        width: 40%;
    }

    h2 {
        display: none;
    }

    h3 {
        margin-top: 1em;
    }

    footer {
        padding: 0.5em 0;
    }
}


@media screen and (min-width: 1224px){

    footer div {
        font-size: small;
        margin-left: 12%;
    }

    h3 {
        margin: 2em 0;
    }

    .btn {
        margin: 2.3em auto;
    }

    .container {
        width: 30%;
    }
}

