

@media screen and (min-width: 375px) {
    img {
      max-width: 85%;
    }
}
  

header {
    height: 20vh;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header aside {
    position: absolute;
    top: 0.5%;
    right: 4%;
}

nav { 
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
}

main section {
    background-color: blueviolet;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

main section h2 {
    background-color: darkred;
}




main section article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section article p {
    text-align: center;
}

footer {
    background-color: darkorchid;
    display: flex;
    align-items: center; 
}

footer div {
    width: 70%;
}

footer aside {
    background-color: darkorchid;
    width: 30%;
}
footer ul {
    list-style: none;
    
}



